.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background: transparent url(edit-button.png) center/10px 10px no-repeat;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 935px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
  }
}
